body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', serif;
}

a, a:hover {
	color: #333;
}

.reader {
	font-family: 'Crimson Text', serif;
}

.view {
	font-size: 18px;
}

.chapter-num {
	display: none;
}

.navbar-inverse {
	background: #990511;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 22px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eee;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #400;
}

.navbar .nav li {
	line-height: 30px;
}

.nav-pills>li>a {
	border-radius: 0;
}

@media (max-width: 768px) {
	.navbar-brand {
		padding-left: 0;
	}
}