<div class="row">
	<h1 class="col-md-12" ng-bind="reference"></h1>

	<div class="alert alert-danger" ng-if="error" ng-bind="error"></div>

	<div class="col-md-12 reader" ng-bind-html="$sce.trustAsHtml(passage.text)">Loading...</div>

	<h3 class="col-xs-4 text-center"><a href="/read/{{ previousChapter }}"><i class="glyphicon glyphicon-chevron-left"></i></a></h3>
	<h3 class="col-xs-4 text-center"><a href="/explore/{{ reference }}"><i class="glyphicon glyphicon-random"></i></a></h3>
	<h3 class="col-xs-4 text-center"><a href="/read/{{ nextChapter }}"><i class="glyphicon glyphicon-chevron-right"></i></a></h3>
</div>