<div class="row">
	<div class="jumbotron">
		<h1>Rediscover the Bible</h1>

		<p>The Bible is a living, active book, but many times we read it in a prescriptive and dry manner that robs it of its majesty. 
			Crimson is an invitation to explore the Bible in a very organic and living way. Instead of reading chapter by chapter from Genesis through
			Revelation, take a journey in whatever way seems natural to you. Choose a starting point below, or select a specific chapter to begin
			with by selecting the table of contents button on the top right of the application. From there, use the explore button at the end of each
			chapter to meander through the Word by theme, cross-reference, or genre. Find the scarlet threads through Scripture that echo the consistent
			voice and message in the Old and New Testaments. At any time, you can click the home button to return here and find another starting point.
			Enjoy your journey through God's Word!
		</p>
	</div>
</div>

<div class="row">
	<a class="col-xs-6 col-sm-4 text-center" href="/read/{{ randomWisdom }}">
		<h3 class="tile bg-success">Random wisdom chapter</h3>
	</a>

	<a class="col-xs-6 col-sm-4 text-center" href="/read/{{ randomGospel }}">
		<h3 class="tile bg-info">Random gospel</h3>
	</a>

	<a class="col-xs-6 col-sm-4 text-center" href="/read/{{ randomEpistle }}">
		<h3 class="tile bg-warning">Random epistle</h3>
	</a>
</div>