<!DOCTYPE html>
<html class="no-js" ng-app="crimson">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Crimson</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">

        <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://bundles.thinkjson.com/bundles/angular-bundle.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="/">Crimson</a>

                <ul class="nav navbar-nav nav-pills pull-right">
                    <li>
                        <a href="/">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/navigate">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="localStorage.settings = localStorage.settings === 'true' ? 'false' : 'true'">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container view" ng-view></div>

        <div class="navbar settings navbar-fixed-bottom" role="navigation" ng-controller="SettingsController" ng-if="localStorage.settings === 'true'">
            <div class="container">
                <ul class="nav navbar-nav nav-pills">
                    <li>
                        <a href="#" ng-click="refresh()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" ng-click="decreaseFont()">
                            <i class="glyphicon glyphicon glyphicon-font"></i>
                            <sub class="glyphicon glyphicon glyphicon-arrow-down"></sub>
                        </a>
                    </li>

                    <li>
                        <a href="#" ng-click="increaseFont()">
                            <i class="glyphicon glyphicon glyphicon-font"></i>
                            <sup class="glyphicon glyphicon glyphicon-arrow-up"></sup>
                        </a>
                    </li>

                    <li>
                        <a href="#" ng-click="toggleVerseNumbers()">
                            <b>v#</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- vendor.js -->
        <script src="http://bundles.thinkjson.com/bundles/angular-bundle.min.js"></script>

        <!-- application.js -->
        <script src="/js/app.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-53640376-1');ga('send','pageview');
        </script>
    </body>
</html>
